@import './theme.scss';
@import './animation.scss';

body {
	margin: 0;
	padding: 0;
	/* display: flex; */
	/* place-items: center; */
	min-width: 320px;
	// min-height: 100vh;
}

.q-drawer {
	background: var(--bg-drawer);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		// background-color: #ededed;
		background-color: var(--bg-main);
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.left {
	background: var(--bg-drawer-dark);
}

.header {
	background: var(--bg-main);
}
.hd {
	font-size: 1.5rem;
}
.port {
	font-size: 1.1rem;
	// width: 94%;
	margin-left: 1rem;
}
h6 {
	margin-bottom: 0.5rem;
}
.notific {
	transition: all 0.5s ease;
}
